Repository bobanetwork/boba, pull requests merged in 2022-04, with the labels that each got.

#60 Fix the problem of not decoding old blocks
  l2geth/core/types/receipt.go
Labels: 2-reviewers, M-l2geth

#67 Fix the wrong l2BobaFee in receipt
  integration-tests/test/boba-fee-payment.spec.ts
  l2geth/core/state_processor.go
Labels: 2-reviewers, M-l2geth, M-integration

#65 [data-transport-layer] Reduce logs
  packages/data-transport-layer/src/services/l1-ingestion/handlers/sequencer-batch-appended.ts
Labels: 2-reviewers, M-dtl

#78 aws role
  .github/workflows/boba-publish-develop.yml
  .github/workflows/boba-publish-master.yml
  .github/workflows/integration.yml
Labels: 2-reviewers, M-ci

#82 DRAFT: Hard coded Fees fix with TransferEstimate.
  packages/boba/gateway/src/components/mainMenu/feeSwitcher/FeeSwitcher.js
  packages/boba/gateway/src/containers/ecosystem/Ecosystem.js
  packages/boba/gateway/src/containers/ecosystem/project.list.js
  packages/boba/gateway/src/containers/modals/farm/FarmDepositModal.js
  packages/boba/gateway/src/containers/save/Save.js
  packages/boba/gateway/src/containers/wallet/Wallet.js
  packages/boba/gateway/src/images/ecosystem/dominanaceFinanace.webp
  packages/boba/gateway/src/services/networkService.js
Labels: draft

#80 Improve pending messages
  .github/workflows/integration.yml
  packages/boba/gateway/src/actions/setupAction.js
  packages/boba/gateway/src/components/alert/Alert.js
  packages/boba/gateway/src/components/mainMenu/feeSwitcher/FeeSwitcher.js
  packages/boba/gateway/src/containers/ecosystem/Ecosystem.js
  packages/boba/gateway/src/containers/ecosystem/Ecosystem.styles.js
  packages/boba/gateway/src/containers/ecosystem/project.list.js
  packages/boba/gateway/src/containers/modals/deposit/DepositBatchModal.js
  packages/boba/gateway/src/containers/modals/deposit/DepositModal.js
  packages/boba/gateway/src/containers/modals/exit/ExitModal.js
  packages/boba/gateway/src/containers/modals/farm/FarmDepositModal.js
  packages/boba/gateway/src/containers/modals/transfer/TransferModal.js
  packages/boba/gateway/src/containers/modals/transfer/TransferModal.style.js
  packages/boba/gateway/src/containers/save/Save.js
  packages/boba/gateway/src/containers/wallet/Wallet.js
  packages/boba/gateway/src/containers/wallet/wallet.styles.js
  packages/boba/gateway/src/images/ecosystem/dominanaceFinanace.webp
  packages/boba/gateway/src/layout/index.js
  packages/boba/gateway/src/services/networkService.js
Labels: 2-reviewers, M-ci

#83 Add swapBOBAForETHMetaTransaction
  integration-tests/test/boba-fee-payment.spec.ts
  ops_boba/api/metatransaction-api/metaTransaction_swapBOBAForETH.js
  ops_boba/api/metatransaction-api/serverless-mainnet.yml
  ops_boba/api/metatransaction-api/serverless-rinkeby.yml
  packages/boba/gas-price-oracle/src/service.ts
  packages/boba/gateway/src/containers/wallet/Wallet.js
  packages/boba/gateway/src/deployment/contracts/Boba_GasPriceOracle.json
  packages/boba/gateway/src/services/networkService.js
  packages/boba/gateway/src/util/masterConfig.js
  packages/boba/register/addresses/addressesMainnet_0x8376ac6C3f73a25Dd994E0b0669ca7ee0C02F089.json
  packages/boba/register/addresses/addressesRinkeby_0x93A96D6A5beb1F661cf052722A1424CDDA3e9418.json
  packages/boba/subgraph/L2/abis/Boba_GasPriceOracle.json
  packages/boba/subgraph/L2/package.json
  packages/boba/subgraph/L2/schema.graphql
  packages/boba/subgraph/L2/src/Boba_GasPriceOracleMapping.ts
  packages/boba/subgraph/L2/subgraph.template.yaml
  packages/boba/subgraph/L2/subgraph.yaml
  packages/boba/subgraph/README.md
  packages/contracts/contracts/L2/predeploys/Boba_GasPriceOracle.sol
  packages/contracts/package.json
  packages/contracts/src/make-genesis.ts
  packages/contracts/test/contracts/L2/predeploys/Boba_GasPriceOracle.spec.ts
Labels: 2-reviewers, M-contracts, M-integration

#79 use sdk for fast-relayer
  README.md
  ops/docker-compose.yml
  ops/docker/Dockerfile.boba_message-relayer-fast
  ops/docker/Dockerfile.message-relayer
  ops/docker/Dockerfile.monorepo
  ops/scripts/relayer-fast.sh
  ops/scripts/wait-for-l1-and-l2.sh
  packages/boba/message-relayer-fast/.env.example
  packages/boba/message-relayer-fast/.prettierrc.json
  packages/boba/message-relayer-fast/README.md
  packages/boba/message-relayer-fast/deployment/local/addresses.json
  packages/boba/message-relayer-fast/exec/run-message-relayer-fast.js
  packages/boba/message-relayer-fast/hardhat.config.ts
  packages/boba/message-relayer-fast/package.json
  packages/boba/message-relayer-fast/src/exec/run.ts
  packages/boba/message-relayer-fast/src/service.ts
  packages/boba/message-relayer-fast/src/types.ts
  packages/boba/message-relayer-fast/tsconfig.build.json
  packages/boba/message-relayer-fast/tsconfig.json
  packages/contracts/contracts/L1/messaging/L1MultiMessageRelayerFast.sol
  packages/message-relayer/.env.example
  packages/message-relayer/README.md
  packages/message-relayer/src/exec/run.ts
  packages/message-relayer/src/service.ts
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/contracts.ts
  packages/sdk/test/cross-chain-messenger.spec.ts
  yarn.lock
Labels: 2-reviewers, M-contracts, M-ops

#95 test: add text only proposal test
  integration-tests/test/pool_dao_actions.spec.ts
  packages/boba/gateway/src/services/networkService.js
Labels: M-integration

#103 Update contract addresses and block number
  boba_community/boba-node/docker-compose.yml
  boba_community/fraud-detector/docker-compose.yml
  l2geth/params/config.go
  packages/boba/register/addresses/addressesMainnet_0x8376ac6C3f73a25Dd994E0b0669ca7ee0C02F089.json
  packages/boba/register/addresses/addressesRinkeby_0x93A96D6A5beb1F661cf052722A1424CDDA3e9418.json
Labels: 2-reviewers, M-l2geth

#108 update linting
  .github/workflows/golangci-lint.yml
Labels: 2-reviewers, M-ci

#101 fix: sdk - remove dependence on l2 eth_getLogs
  packages/message-relayer/src/exec/run.ts
  packages/message-relayer/src/service.ts
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/interfaces/cross-chain-messenger.ts
Labels: 2-reviewers

#70 Inomurko/kms bs
  .github/workflows/integration.yml
  go/batch-submitter/batch_submitter.go
  go/batch-submitter/config.go
  go/batch-submitter/config_test.go
  go/batch-submitter/drivers/proposer/driver.go
  go/batch-submitter/drivers/sequencer/driver.go
  go/batch-submitter/flags/flags.go
  go/batch-submitter/go.mod
  go/batch-submitter/go.sum
  go/bss-core/crypto.go
  go/bss-core/drivers/clear_pending_tx.go
  go/bss-core/drivers/clear_pending_tx_test.go
  go/bss-core/go.mod
  go/bss-core/go.sum
  go/gas-oracle/go.mod
  go/gas-oracle/go.sum
  ops/docker-compose.yml
  ops/scripts/batch-submitter.sh
  ops/seed.yaml
  packages/boba/gas-price-oracle/src/exec/run.ts
  packages/contracts/bin/deploy.ts
Labels: 2-reviewers, M-contracts, M-ops, M-ci

#123 Add proxy contract for Boba_GasPriceOracle
  integration-tests/contracts/Boba_GasPriceOracleProxyCall.sol
  integration-tests/test/boba-fee-payment.spec.ts
  packages/contracts/contracts/libraries/constants/Lib_PredeployAddresses.sol
  packages/contracts/src/make-genesis.ts
  packages/contracts/src/predeploys.ts
Labels: 2-reviewers, M-contracts, M-integration

#127 add files for running a rinkeby replica
  boba_community/boba-node/README.md
  boba_community/boba-node/docker-compose-rinkeby.yml
  boba_community/boba-node/state-dump.latest.json
  boba_community/boba-node/state-dumps/state-dump-mainnet.latest.json
  ops/envs/dtl-rinkeby.env
  ops/envs/geth-rinkeby.env
Labels: 2-reviewers, M-ops

#122 Separate prod and dev env for batch submitter
  go/batch-submitter/batch_submitter.go
  ops/scripts/batch-submitter.sh
Labels: 2-reviewers, M-ops

#136 Update fee docs
  boba_documentation/developer/fee-scheme.md
  boba_examples/boba-fee/README.md
  packages/contracts/deployments/mainnet/README.md
  packages/contracts/deployments/rinkeby/README.md
Labels: 2-reviewers, M-contracts
