Repository bobanetwork/boba, pull requests merged in 2022-10, with the labels that each got.

#396 make faucets more accesible
  .circleci/config.yml
  .github/workflows/batch-submitter.yml
  .github/workflows/boba-contracts-unit.yml
  .github/workflows/boba-gas-oracle.yml
  .github/workflows/boba-publish-develop.yml
  .github/workflows/boba-publish-master.yml
  .github/workflows/bss-core.yml
  .github/workflows/ext-test-snx.yml
  .github/workflows/gas-oracle.yml
  .github/workflows/geth.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/label-requires-reviews.yml
  .github/workflows/labeler.yml
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
  .github/workflows/static-analysis.yml
  .github/workflows/sync-tests.yml
  .github/workflows/ts-packages.yml
  SUMMARY.md
  boba_documentation/developer/faucets.md
Labels: 2-reviewers, M-ci

#394 Have verifier node sync in parallel with dtl to save time.
  l2geth/rollup/rcfg/system_address.go
  l2geth/rollup/rcfg/system_address_test.go
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth

#390 Deploy Boba instance on Fantom
  boba_community/boba-node/docker-compose-bobaopera.yml
  boba_community/boba-node/state-dumps/bobaopera/addresses.json
  boba_community/boba-node/state-dumps/bobaopera/boba-addr.json
  boba_community/boba-node/state-dumps/bobaopera/state-dump.latest.json
  ops_boba/api/metatransaction-api/serverless-bobafuji.yml
  ops_boba/api/metatransaction-api/serverless-bobaopera.yml
  ops_boba/api/watcher-api/serverless-bobaopera.yml
  ops_boba/monitor/services/l1BridgeMonitor.js
  packages/boba/contracts/hardhat.config.ts
  packages/boba/gas-price-oracle/src/service.ts
  packages/boba/gateway/package.json
  packages/boba/gateway/src/services/networkService.js
  packages/boba/gateway/src/util/masterConfig.js
  packages/boba/register/addresses/addressBobaOpera_0x4e7325bcf09e091Bb8119258B885D4ef687B7386.json
  packages/boba/subgraph/L1/rollup/config/bobaopera.json
  packages/boba/subgraph/L1/rollup/package.json
  packages/contracts/deployments/bobaopera/.chainId
  packages/contracts/deployments/bobaopera/BondManager.json
  packages/contracts/deployments/bobaopera/CanonicalTransactionChain.json
  packages/contracts/deployments/bobaopera/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/bobaopera/ChainStorageContainer-CTC-queue.json
  packages/contracts/deployments/bobaopera/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/bobaopera/L1MultiMessageRelayer.json
  packages/contracts/deployments/bobaopera/Lib_AddressManager.json
  packages/contracts/deployments/bobaopera/OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/bobaopera/Proxy__L1CrossDomainMessenger.json
  packages/contracts/deployments/bobaopera/Proxy__L1StandardBridge.json
  packages/contracts/deployments/bobaopera/StateCommitmentChain.json
  packages/contracts/deployments/bobaopera/solcInputs/a86d023a30863b7ab86df5846c38f1e8.json
  packages/contracts/deployments/bobaopera/solcInputs/f80c23f801040af76e8cbed48c5580f3.json
  packages/contracts/hardhat.config.ts
  packages/contracts/scripts/generate-markdown.ts
  packages/contracts/src/L2_L1NativeTokenHepler.ts
  packages/contracts/src/make-genesis.ts
  packages/sdk/src/utils/contracts.ts
Labels: 2-reviewers, M-contracts

#380 Add maximum gas limit in batch submitter
  .github/workflows/golangci-lint.yml
  go/batch-submitter/batch_submitter.go
  go/batch-submitter/config.go
  go/batch-submitter/config_test.go
  go/batch-submitter/drivers/proposer/driver.go
  go/batch-submitter/drivers/sequencer/driver.go
  go/batch-submitter/flags/flags.go
Labels: 2-reviewers, M-ci

#416 Enable whitelist for message relayer
  packages/message-relayer/src/exec/run.ts
  packages/message-relayer/src/service.ts
Labels: 2-reviewers

#419 fix: revert nft for failing mint
  integration-tests/contracts/TestFailingMintL1StandardERC721.sol
  integration-tests/contracts/TestFailingMintL2StandardERC721.sol
  integration-tests/test/nft_bridge.spec.ts
  integration-tests/test/shared/env.ts
  packages/boba/contracts/contracts/bridges/L1NFTBridge.sol
  packages/boba/contracts/contracts/bridges/L2NFTBridge.sol
  packages/boba/contracts/contracts/bridges/README.md
Labels: M-integration

#204 Turing Multi-Value
  boba_examples/turing-complex-types/contracts/ComplexType.sol
  boba_examples/turing-complex-types/contracts/ITuringHelper.sol
  boba_examples/turing-complex-types/contracts/TuringHelper.sol
  boba_examples/turing-hello-world/contracts/HelloTuring.sol
  boba_examples/turing-hello-world/contracts/ITuringHelper.sol
  boba_examples/turing-hello-world/contracts/TuringHelper.sol
  boba_examples/turing-hello-world/hardhat.config.ts
  boba_examples/turing-hello-world/package.json
  boba_examples/turing-hello-world/test/local-webserver.ts
  l2geth/core/evm.go
  l2geth/core/types/transaction_meta.go
  l2geth/core/vm/errors.go
  l2geth/core/vm/evm.go
  l2geth/internal/ethapi/api.go
  ops/docker-compose.yml
Labels: 2-reviewers, M-l2geth, M-ops
