Repository bobanetwork/boba, pull requests merged in 2022-06, with the labels that each got.

#175 Fix the problem of not being able to send all ETH
  integration-tests/test/fee-payment.spec.ts
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
  ops_boba/api/metatransaction-api/metaTransaction_getTestnetETH.js
Labels: 2-reviewers, M-l2geth, M-integration

#192 rm alt faucet
  .gitignore
  boba_community/turing-start/packages/react-app/src/components/WalletButton.tsx
  ops/up_local.sh
  packages/boba/gateway/src/containers/wallet/token/Token.js
Labels: 2-reviewers, M-ops

#184 Calldata compression
  go/batch-submitter/drivers/sequencer/encoding.go
  go/batch-submitter/drivers/sequencer/encoding_test.go
  go/batch-submitter/drivers/sequencer/testdata/valid_append_sequencer_batch_params.json
  go/batch-submitter/go.mod
  go/batch-submitter/go.sum
  integration-tests/test/shared/utils.ts
  integration-tests/test/z-brotli-batch-serialization.spec.ts
  packages/core-utils/package.json
  packages/core-utils/src/optimism/batch-encoding.ts
  packages/core-utils/test/batch-encoder.spec.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/sequencer-batch-appended.ts
  packages/data-transport-layer/test/setup.ts
  packages/data-transport-layer/test/unit-tests/services/l1-ingestion/handlers/sequencer-batch-appended.spec.ts
  yarn.lock
Labels: 2-reviewers, M-integration, M-core-utils, M-dtl

#212 chore: add issue and pr templates
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 2-reviewers, M-ci

#214 brotli is implemented in zlib
  packages/core-utils/package.json
  packages/core-utils/src/optimism/batch-encoding.ts
  yarn.lock
Labels: M-core-utils
