Repository bobanetwork/boba, pull requests merged in 2022-09, with the labels that each got.

#327 Add Avalanche deployment
  boba_community/boba-node/docker-compose-bobaavax.yml
  boba_community/boba-node/state-dumps/bobaavax/addresses.json
  boba_community/boba-node/state-dumps/bobaavax/boba-addr.json
  boba_community/boba-node/state-dumps/bobaavax/state-dump.latest.json
  integration-tests/hardhat.config.ts
  ops_boba/api/metatransaction-api/serverless-bobaavax.yml
  ops_boba/api/watcher-api/serverless-bobaavax.yml
  packages/boba/contracts/contracts/WBOBA9.sol
  packages/boba/contracts/deploy/021-WBOBA9.deploy.ts
  packages/boba/contracts/deploy/022-Dump.deploy.ts
  packages/boba/contracts/hardhat.config.ts
  packages/boba/contracts/test/endToEndTests/WBOBA9.spec.ts
  packages/boba/gas-price-oracle/src/exec/run.ts
  packages/boba/gas-price-oracle/src/service.ts
  packages/boba/gas-price-oracle/test/gas-price-oracle.spec.ts
  packages/boba/gateway/.env.example
  packages/boba/gateway/package.json
  packages/boba/gateway/src/containers/modals/wrongNetwork/WrongNetworkModal.js
  packages/boba/gateway/src/containers/wallet/Wallet.js
  packages/boba/gateway/src/services/networkService.js
  packages/boba/gateway/src/util/masterConfig.js
  packages/boba/register/addresses/addressBobaAvax_0x00220f8ce1c4be8436574e575fE38558d85e2E6b.json
  packages/boba/register/addresses/addressBobaBeam_0x564c10A60af35a07f0EA8Be3106a4D81014b21a0.json
  packages/boba/register/addresses/addressBobaBnbTestnet_0xAee1fb3f4353a9060aEC3943fE932b6Efe35CdAa.json
  packages/boba/register/addresses/addressBobaFuji_0xcE78de95b85212BC348452e91e0e74c17cf37c79.json
  packages/boba/register/addresses/addressesBobaBase_0xF8d0bF3a1411AC973A606f90B2d1ee0840e5979B.json
  packages/boba/register/addresses/addressesBobaOperaTestnet_0x12ad9f501149D3FDd703cC10c567F416B7F0af8b.json
  packages/boba/subgraph/L1/rollup/config/bobaavax.json
  packages/boba/subgraph/L1/rollup/package.json
  packages/contracts/deployments/README.md
  packages/contracts/deployments/bobaavax/.chainId
  packages/contracts/deployments/bobaavax/BondManager.json
  packages/contracts/deployments/bobaavax/CanonicalTransactionChain.json
  packages/contracts/deployments/bobaavax/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/bobaavax/ChainStorageContainer-CTC-queue.json
  packages/contracts/deployments/bobaavax/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/bobaavax/L1MultiMessageRelayer.json
  packages/contracts/deployments/bobaavax/Lib_AddressManager.json
  packages/contracts/deployments/bobaavax/OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/bobaavax/Proxy__L1CrossDomainMessenger.json
  packages/contracts/deployments/bobaavax/Proxy__L1StandardBridge.json
  packages/contracts/deployments/bobaavax/README.md
  packages/contracts/deployments/bobaavax/StateCommitmentChain.json
  packages/contracts/deployments/bobaavax/solcInputs/13bcf8040b8f406154ecb555f206cc34.json
  packages/contracts/deployments/bobaavax/solcInputs/f80c23f801040af76e8cbed48c5580f3.json
  packages/contracts/deployments/bobafuji/README.md
  packages/contracts/hardhat.config.ts
  packages/contracts/scripts/generate-markdown.ts
  packages/contracts/src/L2_L1NativeTokenHepler.ts
  packages/contracts/src/make-genesis.ts
  packages/sdk/src/utils/contracts.ts
Labels: 2-reviewers, M-contracts, M-integration

#344 Add unpause function
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/test/contracts/L1/messaging/L1CrossDomainMessenger.spec.ts
Labels: 2-reviewers, M-contracts

#167 Improve monitor service
  integration-tests/test/z-brotli-batch-serialization.spec.ts
  ops_boba/monitor/README.md
  ops_boba/monitor/exec/run-monitor.js
  ops_boba/monitor/services/blockMonitor.js
  ops_boba/monitor/services/database.service.js
  ops_boba/monitor/services/l1BridgeMonitor.js
  ops_boba/monitor/services/monitoring.js
  ops_boba/monitor/services/periodicTransaction.js
  ops_boba/monitor/services/utilities/optimismEnv.js
Labels: M-integration

#266 harden stress test - cannot commit to miner
  integration-tests/test/stress-tests.spec.ts
  integration-tests/test/turing.spec.ts
Labels: M-integration

#302 Add BNB Testnet docs
  SUMMARY.md
  boba_documentation/developer/network-bnb.md
  boba_documentation/developer/network-fantom.md
  boba_documentation/developer/network-moonbeam.md
  packages/boba/register/addresses/addressBobaBnbTestnet_0xAee1fb3f4353a9060aEC3943fE932b6Efe35CdAa.json
  packages/contracts/deployments/bobabnbtestnet/.chainId
  packages/contracts/deployments/bobabnbtestnet/BondManager.json
  packages/contracts/deployments/bobabnbtestnet/CanonicalTransactionChain.json
  packages/contracts/deployments/bobabnbtestnet/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/bobabnbtestnet/ChainStorageContainer-CTC-queue.json
  packages/contracts/deployments/bobabnbtestnet/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/bobabnbtestnet/L1MultiMessageRelayer.json
  packages/contracts/deployments/bobabnbtestnet/Lib_AddressManager.json
  packages/contracts/deployments/bobabnbtestnet/OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/bobabnbtestnet/Proxy__L1CrossDomainMessenger.json
  packages/contracts/deployments/bobabnbtestnet/Proxy__L1StandardBridge.json
  packages/contracts/deployments/bobabnbtestnet/README.md
  packages/contracts/deployments/bobabnbtestnet/StateCommitmentChain.json
  packages/contracts/deployments/bobabnbtestnet/TK_L1BOBA.json
  packages/contracts/deployments/bobabnbtestnet/solcInputs/4f69f2a6e8a163c8ae3512552ef63fef.json
  packages/contracts/deployments/bobabnbtestnet/solcInputs/f80c23f801040af76e8cbed48c5580f3.json
Labels: 2-reviewers, M-contracts

#361 Add a rate-limit parameter for fraud detector L1 queries.
  boba_community/fraud-detector/fraud-detector.py
  ops/docker-compose.yml
Labels: 2-reviewers, M-ops

#331 Add Boba Avalanche docs
  boba_documentation/developer/network-avalanche.md
  packages/boba/register/addresses/addressBobaAvax_0x00220f8ce1c4be8436574e575fE38558d85e2E6b.json
  packages/contracts/deployments/bobaavax/.chainId
  packages/contracts/deployments/bobaavax/BondManager.json
  packages/contracts/deployments/bobaavax/CanonicalTransactionChain.json
  packages/contracts/deployments/bobaavax/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/bobaavax/ChainStorageContainer-CTC-queue.json
  packages/contracts/deployments/bobaavax/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/bobaavax/L1MultiMessageRelayer.json
  packages/contracts/deployments/bobaavax/Lib_AddressManager.json
  packages/contracts/deployments/bobaavax/OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/bobaavax/Proxy__L1CrossDomainMessenger.json
  packages/contracts/deployments/bobaavax/Proxy__L1StandardBridge.json
  packages/contracts/deployments/bobaavax/README.md
  packages/contracts/deployments/bobaavax/StateCommitmentChain.json
  packages/contracts/deployments/bobaavax/solcInputs/13bcf8040b8f406154ecb555f206cc34.json
  packages/contracts/deployments/bobaavax/solcInputs/f80c23f801040af76e8cbed48c5580f3.json
Labels: 2-reviewers, M-contracts

#313 Add Bobabeam docs
  boba_documentation/developer/network-moonbeam.md
  packages/boba/register/addresses/addressBobaBeam_0x564c10A60af35a07f0EA8Be3106a4D81014b21a0.json
  packages/contracts/deployments/README.md
  packages/contracts/deployments/bobabase/.chainId
  packages/contracts/deployments/bobabase/BondManager.json
  packages/contracts/deployments/bobabase/CanonicalTransactionChain.json
  packages/contracts/deployments/bobabase/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/bobabase/ChainStorageContainer-CTC-queue.json
  packages/contracts/deployments/bobabase/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/bobabase/L1MultiMessageRelayer.json
  packages/contracts/deployments/bobabase/Lib_AddressManager.json
  packages/contracts/deployments/bobabase/OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/bobabase/Proxy__L1CrossDomainMessenger.json
  packages/contracts/deployments/bobabase/Proxy__L1StandardBridge.json
  packages/contracts/deployments/bobabase/README.md
  packages/contracts/deployments/bobabase/StateCommitmentChain.json
  packages/contracts/deployments/bobabase/TK_L1BOBA.json
  packages/contracts/deployments/bobabase/solcInputs/dcdf565a4f7f4cdf231479f0f630b1b7.json
  packages/contracts/deployments/bobabase/solcInputs/f80c23f801040af76e8cbed48c5580f3.json
  packages/contracts/deployments/bobabeam/.chainId
  packages/contracts/deployments/bobabeam/BondManager.json
  packages/contracts/deployments/bobabeam/CanonicalTransactionChain.json
  packages/contracts/deployments/bobabeam/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/bobabeam/ChainStorageContainer-CTC-queue.json
  packages/contracts/deployments/bobabeam/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/bobabeam/L1MultiMessageRelayer.json
  packages/contracts/deployments/bobabeam/Lib_AddressManager.json
  packages/contracts/deployments/bobabeam/OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/bobabeam/Proxy__L1CrossDomainMessenger.json
  packages/contracts/deployments/bobabeam/Proxy__L1StandardBridge.json
  packages/contracts/deployments/bobabeam/README.md
  packages/contracts/deployments/bobabeam/StateCommitmentChain.json
  packages/contracts/deployments/bobabeam/solcInputs/2a1287152dfe03b4d0b5bdbc5d2bad13.json
  packages/contracts/deployments/bobabeam/solcInputs/f80c23f801040af76e8cbed48c5580f3.json
  packages/contracts/deployments/bobabnbtestnet/README.md
  packages/contracts/deployments/bobafuji/README.md
  packages/contracts/deployments/bobaoperatestnet/.chainId
  packages/contracts/deployments/bobaoperatestnet/BondManager.json
  packages/contracts/deployments/bobaoperatestnet/CanonicalTransactionChain.json
  packages/contracts/deployments/bobaoperatestnet/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/bobaoperatestnet/ChainStorageContainer-CTC-queue.json
  packages/contracts/deployments/bobaoperatestnet/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/bobaoperatestnet/L1MultiMessageRelayer.json
  packages/contracts/deployments/bobaoperatestnet/Lib_AddressManager.json
  packages/contracts/deployments/bobaoperatestnet/OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/bobaoperatestnet/Proxy__L1CrossDomainMessenger.json
  packages/contracts/deployments/bobaoperatestnet/Proxy__L1StandardBridge.json
  packages/contracts/deployments/bobaoperatestnet/README.md
  packages/contracts/deployments/bobaoperatestnet/StateCommitmentChain.json
  packages/contracts/deployments/bobaoperatestnet/TK_L1BOBA.json
  packages/contracts/deployments/bobaoperatestnet/solcInputs/dcdf565a4f7f4cdf231479f0f630b1b7.json
  packages/contracts/deployments/bobaoperatestnet/solcInputs/f80c23f801040af76e8cbed48c5580f3.json
  packages/contracts/deployments/mainnet/README.md
  packages/contracts/deployments/rinkeby/README.md
Labels: 2-reviewers, M-contracts

#382 Add Boba BNB Mainnet docs
  boba_documentation/developer/network-bnb.md
  packages/boba/register/addresses/addressBobaBnb_0xeb989B25597259cfa51Bd396cE1d4B085EC4c753.json
  packages/contracts/deployments/README.md
  packages/contracts/deployments/bobabnb/.chainId
  packages/contracts/deployments/bobabnb/BondManager.json
  packages/contracts/deployments/bobabnb/CanonicalTransactionChain.json
  packages/contracts/deployments/bobabnb/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/bobabnb/ChainStorageContainer-CTC-queue.json
  packages/contracts/deployments/bobabnb/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/bobabnb/L1MultiMessageRelayer.json
  packages/contracts/deployments/bobabnb/Lib_AddressManager.json
  packages/contracts/deployments/bobabnb/OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/bobabnb/Proxy__L1CrossDomainMessenger.json
  packages/contracts/deployments/bobabnb/Proxy__L1StandardBridge.json
  packages/contracts/deployments/bobabnb/README.md
  packages/contracts/deployments/bobabnb/StateCommitmentChain.json
  packages/contracts/deployments/bobabnb/solcInputs/c050198a0cfe7b24f3cccc5fb4d3b9c0.json
  packages/contracts/deployments/bobabnb/solcInputs/f80c23f801040af76e8cbed48c5580f3.json
Labels: 2-reviewers, M-contracts

#348 Deploy BOBA on BNB Mainnet
  boba_community/boba-node/state-dumps/bobabnb/addresses.json
  boba_community/boba-node/state-dumps/bobabnb/boba-addr.json
  boba_community/boba-node/state-dumps/bobabnb/state-dump.latest.json
  ops_boba/api/metatransaction-api/serverless-bobabnb.yml
  ops_boba/api/watcher-api/serverless-bobabnb.yml
  ops_boba/monitor/services/layerZeroBridge.js
  packages/boba/contracts/hardhat.config.ts
  packages/boba/gas-price-oracle/test/gas-price-oracle.spec.ts
  packages/boba/gateway/package.json
  packages/boba/gateway/src/containers/modals/exit/steps/DoExitStep.js
  packages/boba/gateway/src/containers/modals/exit/steps/DoExitStepFast.js
  packages/boba/gateway/src/containers/modals/farm/FarmDepositModal.js
  packages/boba/gateway/src/containers/wallet/token/Token.js
  packages/boba/gateway/src/services/networkService.js
  packages/boba/gateway/src/util/coinImage.js
  packages/boba/gateway/src/util/masterConfig.js
  packages/boba/register/addresses/addressBobaAvax_0x00220f8ce1c4be8436574e575fE38558d85e2E6b.json
  packages/boba/register/addresses/addressBobaBnb_0xeb989B25597259cfa51Bd396cE1d4B085EC4c753.json
  packages/boba/register/addresses/addressesMainnet_0x8376ac6C3f73a25Dd994E0b0669ca7ee0C02F089.json
  packages/boba/register/addresses/layerZeroMainnet.json
  packages/boba/subgraph/L1/rollup/config/bobabnb.json
  packages/boba/subgraph/L1/rollup/package.json
  packages/contracts/deployments/README.md
  packages/contracts/deployments/bobabnb/.chainId
  packages/contracts/deployments/bobabnb/BondManager.json
  packages/contracts/deployments/bobabnb/CanonicalTransactionChain.json
  packages/contracts/deployments/bobabnb/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/bobabnb/ChainStorageContainer-CTC-queue.json
  packages/contracts/deployments/bobabnb/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/bobabnb/L1MultiMessageRelayer.json
  packages/contracts/deployments/bobabnb/Lib_AddressManager.json
  packages/contracts/deployments/bobabnb/OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/bobabnb/Proxy__L1CrossDomainMessenger.json
  packages/contracts/deployments/bobabnb/Proxy__L1StandardBridge.json
  packages/contracts/deployments/bobabnb/README.md
  packages/contracts/deployments/bobabnb/StateCommitmentChain.json
  packages/contracts/deployments/bobabnb/solcInputs/c050198a0cfe7b24f3cccc5fb4d3b9c0.json
  packages/contracts/deployments/bobabnb/solcInputs/f80c23f801040af76e8cbed48c5580f3.json
  packages/contracts/hardhat.config.ts
  packages/contracts/scripts/generate-markdown.ts
  packages/contracts/src/L2_L1NativeTokenHepler.ts
  packages/contracts/src/make-genesis.ts
  packages/message-relayer/src/service.ts
  packages/sdk/src/utils/contracts.ts
Labels: 2-reviewers, M-contracts
