Repository bobanetwork/boba, pull requests merged in 2023-07, with the labels that each got.

#999 Chore: Cleanup boba opera mainnet / testnet from gateway.
  packages/boba/gateway/src/actions/networkAction.js
  packages/boba/gateway/src/components/icons/chain/L1/FantomIcon.js
  packages/boba/gateway/src/components/icons/chain/L2/BobaFantomIcon.js
  packages/boba/gateway/src/components/notificationBanner/bannerConfig.ts
  packages/boba/gateway/src/components/notificationBanner/tests/index.test.tsx
  packages/boba/gateway/src/containers/modals/deposit/steps/BridgeAlert.tsx
  packages/boba/gateway/src/containers/modals/deposit/steps/InputStep.js
  packages/boba/gateway/src/containers/modals/deposit/steps/InputStepFast.js
  packages/boba/gateway/src/containers/modals/deposit/steps/InputStepMultiChain.js
  packages/boba/gateway/src/containers/modals/deposit/steps/alertConfig.ts
  packages/boba/gateway/src/containers/modals/deposit/steps/tests/__snapshots__/bobaBeamAlert.test.tsx.snap
  packages/boba/gateway/src/containers/modals/deposit/steps/tests/bobaBeamAlert.test.tsx
  packages/boba/gateway/src/containers/wallet/token/Token.js
  packages/boba/gateway/src/reducers/networkReducer.js
  packages/boba/gateway/src/services/app.service.js
  packages/boba/gateway/src/util/amountConvert.js
  packages/boba/gateway/src/util/constant.ts
  packages/boba/gateway/src/util/network/config/fantom.js
  packages/boba/gateway/src/util/network/network.util.js
  packages/boba/register/addresses/addressBobaOpera_0x4e7325bcf09e091Bb8119258B885D4ef687B7386.json
  packages/boba/register/addresses/addressesBobaOperaTestnet_0x12ad9f501149D3FDd703cC10c567F416B7F0af8b.json
Labels: 2-reviewers, M-l2geth, M-integration, M-ops, M-batch-submitter, M-ci

#959 Teleporter routes
  integration-tests/test/alt-l2/teleportation.spec.ts
  integration-tests/test/eth-l2/teleportation.spec.ts
  ops/.env-template
  ops/docker-compose-side.yml
  packages/boba/contracts/contracts/Teleportation.sol
  packages/boba/contracts/contracts/test-helpers/L1ERC20.sol
  packages/boba/contracts/deploy/020-Teleportation.deploy.ts
  packages/boba/contracts/test/endToEndTests/teleportation.spec.ts
  packages/boba/teleportation/README.md
  packages/boba/teleportation/package.json
  packages/boba/teleportation/src/data-source.ts
  packages/boba/teleportation/src/entities/HistoryData.entity.ts
  packages/boba/teleportation/src/exec/run.ts
  packages/boba/teleportation/src/migrations/1687802800701-00_Init.ts
  packages/boba/teleportation/src/service.ts
  packages/boba/teleportation/src/utils/chains.ts
  packages/boba/teleportation/src/utils/types.ts
Labels: 2-reviewers, M-integration, M-ops

#994 Fraud detector local fix
  boba_community/fraud-detector/docker/Dockerfile.fraud-detector
  boba_community/fraud-detector/fraud-detector.py
  ops/up_local.sh
Labels: 2-reviewers, M-ops

#1010 Move DisburserKey to AWS KMS (Teleporter)
  integration-tests/test/alt-l2/teleportation.spec.ts
  integration-tests/test/eth-l2/teleportation.spec.ts
  ops/.env-template
  ops/docker-compose-avalanche-side.yml
  ops/docker-compose-bnb-side.yml
  ops/docker-compose-fantom-side.yml
  ops/docker-compose-moonbeam-side.yml
  ops/docker-compose-side.yml
  ops/seed-avalanche.yaml
  ops/seed-bnb.yaml
  ops/seed-fantom.yaml
  ops/seed-moonbeam.yaml
  ops/seed.yaml
  packages/boba/contracts/src/hardhat-deploy-ethers.ts
  packages/boba/teleportation/.env.example
  packages/boba/teleportation/package.json
  packages/boba/teleportation/src/exec/run.ts
  packages/boba/teleportation/src/service.ts
  packages/boba/teleportation/src/utils/kms-signing.ts
Labels: 2-reviewers, M-integration, M-ops

#1033 Require a positive balance for the fee token.
  l2geth/core/state_transition.go
Labels: 2-reviewers, M-l2geth
