Repository bobanetwork/boba, pull requests merged in 2023-01, with the labels that each got.

#520 modify building images for release workflows
  .github/workflows/boba-publish-develop.yml
  .github/workflows/boba-publish-master.yml
  ops/docker-compose-side.yml
  ops/docker/Dockerfile.packages
Labels: 2-reviewers, M-ops, M-ci

#510 Add account monitor feature in monitor service and simplify code in GPO service
  .github/workflows/ts-packages.yml
  ops_boba/monitor/README.md
  ops_boba/monitor/docker/docker-compose.test.yml
  ops_boba/monitor/docker/mysql/1-init-database.sql
  ops_boba/monitor/exec/run-monitor.js
  ops_boba/monitor/exec/try-monitor.js
  ops_boba/monitor/hardhat.config.js
  ops_boba/monitor/package.json
  ops_boba/monitor/services/balanceMonitor.js
  ops_boba/monitor/services/blockMonitor.js
  ops_boba/monitor/services/bobaStrawMonitor.js
  ops_boba/monitor/services/database.service.js
  ops_boba/monitor/services/exitMonitor.js
  ops_boba/monitor/services/l1BridgeMonitor.js
  ops_boba/monitor/services/layerZeroBridge.js
  ops_boba/monitor/services/messageMonitor.js
  ops_boba/monitor/services/monitoring.js
  ops_boba/monitor/services/periodicTransaction.js
  ops_boba/monitor/services/responseTime.service.js
  ops_boba/monitor/services/stateRootMonitor.js
  ops_boba/monitor/services/utilities/configs.js
  ops_boba/monitor/services/utilities/logger.js
  ops_boba/monitor/services/utils/globalEnv.js
  ops_boba/monitor/services/utils/utils.js
  ops_boba/monitor/test/balanceMonitor.spec.js
  ops_boba/monitor/test/bobaStrawMonitor.spec.js
  ops_boba/monitor/test/periodicTranscation.spec.js
  ops_boba/monitor/test/setup.js
  ops_boba/monitor/test/utils.js
  packages/boba/gas-price-oracle/src/exec/run.ts
  packages/boba/gas-price-oracle/src/service.ts
  packages/boba/gas-price-oracle/test/gas-price-oracle.spec.ts
  yarn.lock
Labels: 2-reviewers, M-ci

#525 Reduce size of docker images
  .github/workflows/ts-packages.yml
  ops/docker/Dockerfile.packages
Labels: 2-reviewers, M-ops, M-ci

#529 Cache compilers in integration tests
  .circleci/config.yml
  ops/scripts/checksum.sh
Labels: 2-reviewers, M-ops

#527 aws ec2 for building releases on master
  .github/workflows/boba-publish-develop.yml
  .github/workflows/boba-publish-master.yml
Labels: 2-reviewers, M-ci

#534 Stabilize integration tests
  integration-tests/test/boba-api.spec.ts
  integration-tests/test/turing.spec.ts
Labels: M-integration

#508 feat: deploy entrypoint
  .circleci/config.yml
  ops/docker-compose-side.yml
  ops/docker-compose.yml
  ops/docker/Dockerfile.aa_deployer
  ops/docker/Dockerfile.packages
  packages/boba/account-abstraction/.env.example
  packages/boba/account-abstraction/bin/deploy.ts
  packages/boba/account-abstraction/contracts/bundler/BundlerHelper.sol
  packages/boba/account-abstraction/deploy/1-deploy-helper.ts
  packages/boba/account-abstraction/deploy/2-deploy_entrypoint.ts
  packages/boba/account-abstraction/deploy/3-deploy-deposit-paymaster.ts
  packages/boba/account-abstraction/deploy/4-deploy-verifying-paymaster.ts
  packages/boba/account-abstraction/deploy/5-dump-addresses.ts
  packages/boba/account-abstraction/deploy/deploy_entrypoint.ts
  packages/boba/account-abstraction/hardhat.config.ts
  packages/boba/account-abstraction/package.json
  packages/boba/account-abstraction/scripts/deployer.sh
  packages/boba/account-abstraction/scripts/wait-for-l1-and-l2.sh
  packages/boba/account-abstraction/src/runop.ts
  packages/boba/account-abstraction/tasks/deploy.ts
  packages/boba/account-abstraction/tsconfig.json
  packages/data-transport-layer/src/services/main/service.ts
  yarn.lock
Labels: 2-reviewers, M-ops, M-dtl

#485 Deploy Boba_GasPriceOracle to a new address
  .github/workflows/boba-publish-alt-l1.yml
  boba_community/boba-node/state-dumps/bobaavax/boba-addr.json
  boba_community/boba-node/state-dumps/bobabnb/boba-addr.json
  boba_community/boba-node/state-dumps/bobaopera/boba-addr.json
  packages/boba/register/addresses/addressBobaAvax_0x00220f8ce1c4be8436574e575fE38558d85e2E6b.json
  packages/boba/register/addresses/addressBobaBeam_0x564c10A60af35a07f0EA8Be3106a4D81014b21a0.json
  packages/boba/register/addresses/addressBobaBnbTestnet_0xAee1fb3f4353a9060aEC3943fE932b6Efe35CdAa.json
  packages/boba/register/addresses/addressBobaBnb_0xeb989B25597259cfa51Bd396cE1d4B085EC4c753.json
  packages/boba/register/addresses/addressBobaFuji_0xcE78de95b85212BC348452e91e0e74c17cf37c79.json
  packages/boba/register/addresses/addressBobaOpera_0x4e7325bcf09e091Bb8119258B885D4ef687B7386.json
  packages/boba/register/addresses/addressesBobaBase_0xF8d0bF3a1411AC973A606f90B2d1ee0840e5979B.json
  packages/boba/register/addresses/addressesBobaOperaTestnet_0x12ad9f501149D3FDd703cC10c567F416B7F0af8b.json
  packages/boba/register/addresses/addressesMainnet_0x8376ac6C3f73a25Dd994E0b0669ca7ee0C02F089.json
  packages/boba/register/addresses/addressesRinkeby_0x93A96D6A5beb1F661cf052722A1424CDDA3e9418.json
  packages/contracts/test/contracts/L2/predeploys/Boba_GasPriceOracle.spec.ts
Labels: 2-reviewers, M-contracts, M-ci

#544 Release/v0.4.1
  .circleci/config.yml
  go/proxyd/integration_tests/validation_test.go
  go/proxyd/rpc.go
  ops/docker-compose-side.yml
  ops/docker-compose.yml
  ops/docker/Dockerfile.aa_deployer
  ops/docker/Dockerfile.packages
  packages/boba/account-abstraction/.env.example
  packages/boba/account-abstraction/bin/deploy.ts
  packages/boba/account-abstraction/contracts/bundler/BundlerHelper.sol
  packages/boba/account-abstraction/deploy/1-deploy-helper.ts
  packages/boba/account-abstraction/deploy/2-deploy_entrypoint.ts
  packages/boba/account-abstraction/deploy/3-deploy-deposit-paymaster.ts
  packages/boba/account-abstraction/deploy/4-deploy-verifying-paymaster.ts
  packages/boba/account-abstraction/deploy/5-dump-addresses.ts
  packages/boba/account-abstraction/deploy/deploy_entrypoint.ts
  packages/boba/account-abstraction/hardhat.config.ts
  packages/boba/account-abstraction/package.json
  packages/boba/account-abstraction/scripts/deployer.sh
  packages/boba/account-abstraction/scripts/wait-for-l1-and-l2.sh
  packages/boba/account-abstraction/src/runop.ts
  packages/boba/account-abstraction/tasks/deploy.ts
  packages/boba/account-abstraction/tsconfig.json
  packages/data-transport-layer/src/services/main/service.ts
  yarn.lock
Labels: 2-reviewers, M-ops, M-dtl

#538 Validation for uploaded DTL address lists
  packages/data-transport-layer/src/services/main/service.ts
Labels: 2-reviewers, M-dtl

#541 Remove use of Etherscan on client to fetch transactions
  packages/boba/gateway/.env.example
  packages/boba/gateway/readme.md
  packages/boba/gateway/src/api/etherScanAxios.js
  packages/boba/gateway/src/containers/history/TX_Pending.js
  packages/boba/gateway/src/services/networkService.js
  packages/boba/gateway/src/util/constant.js
  packages/boba/gateway/src/util/masterConfig.js
Labels: gateway
