Repository bobanetwork/boba, pull requests merged in 2023-09, with the labels that each got.

#1102 Cleanup/removing unused components
  packages/boba/gateway/src/components/PulseBadge/index.tsx
  packages/boba/gateway/src/components/Table/TableRow.js
  packages/boba/gateway/src/components/Table/TransactionTableRow.js
  packages/boba/gateway/src/components/Table/index.js
  packages/boba/gateway/src/components/Table/table.styles.js
  packages/boba/gateway/src/components/common/common.styles.js
  packages/boba/gateway/src/components/icons/ArrowRightIcon.js
  packages/boba/gateway/src/components/icons/BobaIcon.js
  packages/boba/gateway/src/components/icons/ClaimIcon.js
  packages/boba/gateway/src/components/icons/DAOIcon.js
  packages/boba/gateway/src/components/icons/DirectionIcon.js
  packages/boba/gateway/src/components/icons/Discord.js
  packages/boba/gateway/src/components/icons/DownIcon.js
  packages/boba/gateway/src/components/icons/EarnIcon.js
  packages/boba/gateway/src/components/icons/EditIcon.js
  packages/boba/gateway/src/components/icons/EthereumIcon.js
  packages/boba/gateway/src/components/icons/ExitIcon.js
  packages/boba/gateway/src/components/icons/HideIcon.js
  packages/boba/gateway/src/components/icons/HistoryIcon.js
  packages/boba/gateway/src/components/icons/L1Icon.js
  packages/boba/gateway/src/components/icons/L2Icon.js
  packages/boba/gateway/src/components/icons/L2ToL1Icon.js
  packages/boba/gateway/src/components/icons/LayerIcon.js
  packages/boba/gateway/src/components/icons/LearnIcon.js
  packages/boba/gateway/src/components/icons/LinkIcon.js
  packages/boba/gateway/src/components/icons/LockIcon.js
  packages/boba/gateway/src/components/icons/MinusIcon.js
  packages/boba/gateway/src/components/icons/NFTIcon.js
  packages/boba/gateway/src/components/icons/NetworkIcon.js
  packages/boba/gateway/src/components/icons/NetworkSwitcherIcon.js
  packages/boba/gateway/src/components/icons/PlusIcon.js
  packages/boba/gateway/src/components/icons/PoolIcon.js
  packages/boba/gateway/src/components/icons/SafeIcon.js
  packages/boba/gateway/src/components/icons/SettingsIcon.js
  packages/boba/gateway/src/components/icons/SortIcon.js
  packages/boba/gateway/src/components/icons/SwapIcon.js
  packages/boba/gateway/src/components/icons/TelegramIcon.js
  packages/boba/gateway/src/components/icons/TwitterIcon.js
  packages/boba/gateway/src/components/icons/UpIcon.js
  packages/boba/gateway/src/containers/bridge/Bridge.js
  packages/boba/gateway/src/containers/bridge/Bridge.styles.js
  packages/boba/gateway/src/containers/bridge/bobaBridge/bobaBridge.js
  packages/boba/gateway/src/containers/bridge/bobaBridge/bobaBridge.styles.js
  packages/boba/gateway/src/containers/bridge/bobaBridge/bridgeTransfer/bridgeTransfer.js
  packages/boba/gateway/src/containers/bridge/bobaBridge/bridgeTransfer/bridgeTransfer.styles.js
  packages/boba/gateway/src/containers/bridge/bobaBridge/bridgeTransfer/tokenInput/TokenInput.js
  packages/boba/gateway/src/containers/bridge/bobaBridge/bridgeTransfer/tokenInput/TokenInput.styles.js
Labels: gateway

#1165 no more alt-l1 release containers and use correct state dump for bnb …
  boba_community/boba-node/docker-compose-bobaavax.yml
  boba_community/boba-node/docker-compose-bobabase.yml
  boba_community/boba-node/docker-compose-bobabeam.yml
  boba_community/boba-node/docker-compose-bobabnb-testnet.yml
  boba_community/boba-node/docker-compose-bobabnb.yml
  boba_community/boba-node/docker-compose-bobafuji.yml
  boba_community/boba-node/docker-compose-bobaopera-testnet.yml
  boba_community/boba-node/docker-compose-bobaopera.yml
  l2geth/cmd/utils/flags.go
Labels: 2-reviewers, M-l2geth

#1180 feat: Airdrop gas via Light Bridge
  integration-tests/test/alt-l2/teleportation.spec.ts
  integration-tests/test/eth-l2/teleportation.spec.ts
  packages/boba/teleportation/.env.example
  packages/boba/teleportation/package.json
  packages/boba/teleportation/src/data-source.ts
  packages/boba/teleportation/src/entities/LastAirdrop.entity.ts
  packages/boba/teleportation/src/exec/run.ts
  packages/boba/teleportation/src/migrations/1687802800701-01_LastAirdrop.ts
  packages/boba/teleportation/src/service.ts
  packages/boba/teleportation/src/utils/chains.ts
  packages/boba/teleportation/src/utils/kms-signing.ts
  yarn.lock
Labels: M-integration

#1226 Gateway: Replace Infura RPC with tenderly Rpc
  packages/boba/gateway/.env.example
  packages/boba/gateway/readme.md
  packages/boba/gateway/src/services/networkService.js
  packages/boba/gateway/src/util/constant.ts
  packages/boba/gateway/src/util/network/config/bnb.js
  packages/boba/gateway/src/util/network/config/ethereum.js
Labels: Gateway 2.5.1
