Repository bobanetwork/boba, pull requests merged in 2023-06, with the labels that each got.

#862 Bump Bundler SDK version
  packages/boba/bundler_sdk/package.json
Labels: automated pr, bundler, bundler sdk, account-abstraction

#871 [AA] optimization: paymasterAndData for aa-sdk
  integration-tests/package.json
  integration-tests/test/alt-l2/boba_aa_alt_fee_token.spec.ts
  integration-tests/test/eth-l2/boba_aa_fee_alt_token.spec.ts
  integration-tests/test/eth-l2/boba_aa_fee_boba.spec.ts
  packages/boba/bundler_sdk/src/PaymasterAPI.ts
  yarn.lock
Labels: M-integration

#876 Release/v0.7.1
  integration-tests/package.json
  integration-tests/test/alt-l2/boba_aa_alt_fee_token.spec.ts
  integration-tests/test/eth-l2/boba_aa_fee_alt_token.spec.ts
  integration-tests/test/eth-l2/boba_aa_fee_boba.spec.ts
  packages/boba/bundler/bundler.sh
  packages/boba/bundler/src/BundlerConfig.ts
  packages/boba/bundler/src/Config.ts
  packages/boba/bundler/src/runBundler.ts
  packages/boba/bundler_sdk/src/PaymasterAPI.ts
  packages/boba/gateway/src/components/PulseBadge/index.tsx
  packages/boba/gateway/src/components/pulse/PulsingBadge.js
  packages/boba/gateway/src/containers/bridge/Bridge.styles.js
  packages/boba/gateway/src/containers/home/Home.js
  packages/boba/gateway/src/containers/wallet/token/Token.js
  packages/boba/gateway/src/themes/dark.ts
  packages/boba/gateway/src/themes/light.ts
  packages/boba/register/addresses/addressesGoerli_0x6FF9c8FF8F0B6a0763a3030540c21aFC721A9148.json
  yarn.lock
Labels: M-integration

#901 workflow for releases
  .github/workflows/release.yml
Labels: 2-reviewers, M-ci

#902 workflow for releases - checkout code
  .github/workflows/release.yml
Labels: 2-reviewers, M-ci

#904 New release
  .github/dependabot.yml
  .github/workflows/boba-publish-develop.yml
  .github/workflows/boba-publish-master.yml
  .github/workflows/gateway-deploy-stage.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/release.yml
  .github/workflows/ts-packages.yml
  .nvmrc
  README.md
  package.json
  packages/common-ts/package.json
  packages/contracts/package.json
  packages/data-transport-layer/package.json
  yarn.lock
Labels: 2-reviewers, M-contracts, M-dtl, M-ci, release

#900 Bundler Release optimization
  .github/workflows/aa-bundler-sdk-pr.yml
  .github/workflows/aa-bundler-sdk.yml
  boba_examples/turing-hello-world/yarn.lock
  integration-tests/contracts/SampleRecipient.sol
  integration-tests/package.json
  integration-tests/test/alt-l2/boba_aa_alt_fee_token.spec.ts
  integration-tests/test/alt-l2/boba_aa_bundler.spec.ts
  integration-tests/test/alt-l2/boba_aa_wallet.spec.ts
  integration-tests/test/eth-l2/boba_aa_bundler.spec.ts
  integration-tests/test/eth-l2/boba_aa_fee_alt_token.spec.ts
  integration-tests/test/eth-l2/boba_aa_fee_boba.spec.ts
  integration-tests/test/eth-l2/boba_aa_sponsoring_fee.spec.ts
  integration-tests/test/eth-l2/boba_aa_wallet.spec.ts
  packages/boba/account-abstraction/package.json
  packages/boba/bundler/contracts/BundlerHelper.sol
  packages/boba/bundler/contracts/Import.sol
  packages/boba/bundler/contracts/tests/TestOpcodesAccount.sol
  packages/boba/bundler/contracts/tests/TestRecursionAccount.sol
  packages/boba/bundler/contracts/tests/TestRuleAccount.sol
  packages/boba/bundler/contracts/tests/TestRulesAccount.sol
  packages/boba/bundler/contracts/tests/TestStorageAccount.sol
  packages/boba/bundler/package.json
  packages/boba/bundler/src/BundlerServer.ts
  packages/boba/bundler/src/UserOpMethodHandler.ts
  packages/boba/bundler/src/modules/BundleManager.ts
  packages/boba/bundler/src/modules/EventsManager.ts
  packages/boba/bundler/src/modules/Types.ts
  packages/boba/bundler/src/modules/ValidationManager.ts
  packages/boba/bundler/src/modules/initServer.ts
  packages/boba/bundler/src/modules/moduleUtils.ts
  packages/boba/bundler/src/parseScannerResult.ts
  packages/boba/bundler/src/runBundler.ts
  packages/boba/bundler/src/runner/runop.ts
  packages/boba/bundler/test/BundlerManager.test.ts
  packages/boba/bundler/test/DebugMethodHandler.test.ts
  packages/boba/bundler/test/UserOpMethodHandler.test.ts
  packages/boba/bundler/test/ValidateManager.test.ts
  packages/boba/bundler/test/utils.test.ts
  packages/boba/bundler_sdk/package.json
  packages/boba/bundler_sdk/src/BaseAccountAPI.ts
  packages/boba/bundler_sdk/src/ERC4337EthersProvider.ts
  packages/boba/bundler_sdk/src/ERC4337EthersSigner.ts
  packages/boba/bundler_sdk/src/HttpRpcClient.ts
  packages/boba/bundler_sdk/src/PaymasterAPI.ts
  packages/boba/bundler_sdk/src/Provider.ts
  packages/boba/bundler_sdk/src/SimpleAccountAPI.ts
  packages/boba/bundler_sdk/src/UserOperationEventListener.ts
  packages/boba/bundler_sdk/src/calcPreVerificationGas.ts
  packages/boba/bundler_sdk/test/0-deterministicDeployer.test.ts
  packages/boba/bundler_sdk/test/1-SimpleAccountAPI.test.ts
  packages/boba/bundler_sdk/test/3-ERC4337EthersSigner.test.ts
  packages/boba/bundler_utils/contracts/test/SampleRecipient.sol
  packages/boba/bundler_utils/package.json
  packages/boba/bundler_utils/src/ERC4337Utils.ts
  packages/boba/bundler_utils/src/postExecCheck.ts
  yarn.lock
Labels: 2-reviewers, M-integration, M-ci

#845 Adding storybook support
  .github/workflows/static-analysis.yml
  packages/boba/gateway/.babelrc.json
  packages/boba/gateway/.eslintrc.js
  packages/boba/gateway/.storybook/decorators.tsx
  packages/boba/gateway/.storybook/main.ts
  packages/boba/gateway/.storybook/preview.tsx
  packages/boba/gateway/config-overrides.js
  packages/boba/gateway/package.json
  packages/boba/gateway/src/components/global/InputMax/index.stories.tsx
  packages/boba/gateway/src/components/global/InputMax/index.tsx
  packages/boba/gateway/src/components/global/InputMax/styles.ts
  packages/boba/gateway/src/components/global/button/index.stories.tsx
  packages/boba/gateway/src/components/global/button/index.tsx
  packages/boba/gateway/src/components/global/button/styles.ts
  packages/boba/gateway/src/components/global/dropdown/index.stories.tsx
  packages/boba/gateway/src/components/global/dropdown/index.tsx
  packages/boba/gateway/src/components/global/dropdown/styles.ts
  packages/boba/gateway/src/components/global/index.ts
  packages/boba/gateway/src/components/global/svg/index.stories.tsx
  packages/boba/gateway/src/components/global/svg/index.tsx
  packages/boba/gateway/src/components/global/switch/index.stories.tsx
  packages/boba/gateway/src/components/global/switch/index.tsx
  packages/boba/gateway/src/components/global/switch/styles.ts
  packages/boba/gateway/src/components/modal/Modal.js
  packages/boba/gateway/src/components/modal/Modal.styles.js
  packages/boba/gateway/src/components/modal/Modal.styles.tsx
  packages/boba/gateway/src/components/notificationBanner/tests/index.test.tsx
  packages/boba/gateway/src/components/pageHeader/PageHeader.js
  packages/boba/gateway/src/components/pageHeader/PageHeader.styles.tsx
  packages/boba/gateway/src/components/pageTitle/PageTitle.js
  packages/boba/gateway/src/components/pageTitle/PageTitle.styles.js
  packages/boba/gateway/src/components/select/Select.js
  packages/boba/gateway/src/containers/bobaScope/BobaScope.js
  packages/boba/gateway/src/containers/bobaScope/FastExits.js
  packages/boba/gateway/src/containers/bobaScope/Sevens.js
  packages/boba/gateway/src/containers/history/History.js
  packages/boba/gateway/src/containers/modals/veBoba/IncreaseLock.js
  packages/boba/gateway/src/containers/notification/Notification.js
  packages/boba/gateway/src/containers/veboba/createLock/CreateLock.js
  packages/boba/gateway/src/images/icons/Vector 23 (1).svg:Zone.Identifier
  packages/boba/gateway/src/images/icons/arrowdown.svg
  packages/boba/gateway/src/images/icons/arrowdown.svg:Zone.Identifier
  packages/boba/gateway/src/stories/ColorPalette.stories.tsx
  packages/boba/gateway/src/stories/Introduction.mdx
  packages/boba/gateway/src/stories/assets/code-brackets.svg
  packages/boba/gateway/src/stories/assets/colors.svg
  packages/boba/gateway/src/stories/assets/comments.svg
  packages/boba/gateway/src/stories/assets/direction.svg
  packages/boba/gateway/src/stories/assets/flow.svg
  packages/boba/gateway/src/stories/assets/plugin.svg
  packages/boba/gateway/src/stories/assets/repo.svg
  packages/boba/gateway/src/stories/assets/stackalt.svg
  packages/boba/gateway/src/stories/header.css
  packages/boba/gateway/src/themes/dark.ts
  packages/boba/gateway/src/themes/default.ts
  packages/boba/gateway/src/themes/globalStyle.ts
  packages/boba/gateway/src/themes/index.tsx
  packages/boba/gateway/src/themes/light.ts
  packages/boba/gateway/tsconfig.json
  yarn.lock
Labels: 2-reviewers, dont merge yet, M-ci

#956 default is node 14, we have to bump to 16
  .github/workflows/boba-publish-develop.yml
  .github/workflows/boba-publish-master.yml
Labels: 2-reviewers, M-ci

#822 Switch from file-based db to postgresql with DB migrations
  .circleci/config.yml
  integration-tests/package.json
  integration-tests/test/alt-l2/teleportation.spec.ts
  integration-tests/test/eth-l2/erc1155_bridge.spec.ts
  integration-tests/test/eth-l2/teleportation.spec.ts
  ops/docker-compose-avalanche-side.yml
  ops/docker-compose-bnb-side.yml
  ops/docker-compose-fantom-side.yml
  ops/docker-compose-moonbeam-side.yml
  ops/docker-compose-side.yml
  ops/docker/Dockerfile.packages
  packages/boba/teleportation/.depcheckrc
  packages/boba/teleportation/.env.example
  packages/boba/teleportation/.gitignore
  packages/boba/teleportation/README.md
  packages/boba/teleportation/package.json
  packages/boba/teleportation/src/data-source.ts
  packages/boba/teleportation/src/entity/HistoryData.ts
  packages/boba/teleportation/src/exec/run.ts
  packages/boba/teleportation/src/service.ts
  packages/boba/teleportation/tsconfig.json
  packages/contracts/package.json
  yarn.lock
Labels: 2-reviewers, M-contracts, M-integration, M-ops

#983 dont run if you're not changing specific code
  .circleci/config.yml
  ops/check-changed/.gitignore
  ops/check-changed/main.py
  ops/check-changed/requirements.txt
Labels: 2-reviewers, M-ops

#985 bump python
  .github/workflows/boba-publish-develop.yml
  .github/workflows/boba-publish-master.yml
  boba_community/fraud-detector/docker/Dockerfile.fraud-detector
Labels: 2-reviewers, M-ci
